.main-div{
    
    display: flex;
    align-items: center;
    
}

.main-div-img{
    display: flex;
    align-items: center;
    margin: auto 43%;
    margin-top: 5%;
}

 .search-div{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 43%;
} 
input{
    border: 1px solid lightgray;
    width: 524px;
    border-radius: 20px;
    padding: 10px ;
    position: relative;
}

input::placeholder{
    padding: 30px;
}
.img{
    position: absolute;
    top:228px;
    left: 410px;
    
}


.mic{
    position: absolute;
    top:228px;
    right: 450px;
}

.cam{
    position: absolute;
    top:228px;
    right:410px;
}

.search-bar{ 
   margin: 5%;
}

.btn{
   
    display: flex;
    flex-direction: row;
    margin: 10%;
    gap: 10%;
    padding: 10px;
    width: 300px;
    border: none;
}

.lang-div{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

small a{
    text-decoration: none;
    margin: 5px;
}